@import "bootstrap/dist/css/bootstrap";
.navbar {
    background-color: black !important;
}
.nav-link {
    color: white !important;
}
#logo {
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#home-container {
    margin-top: 25px;
}
.jumbotron {
    background-image: asset-url("wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;
}
/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
}

#sticky-footer {
    flex-shrink: none;
}
#bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
.article {
    max-width: 700px;
    margin: auto;
}

@media (max-width: 900px) {
    .form-group {
        flex-direction: column;
        align-items: center;
    }
    .col-form-label {
        align-self: flex-start;
        margin-left: 2.5rem;
    }
    #article-title {
        font-size: 1.5rem;
    }
}
/* pagination styling */
.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
    a,
    span,
    em {
        padding: 0.2em 0.5em;
        border-radius: 5px;
    }
    .disabled {
        color: #aaaaaa;
    }
    .current {
        font-style: normal;
        font-weight: bold;
        color: #ff0084;
    }
    a {
        border: 1px solid whitesmoke;
        color: #17a2b8;
        text-decoration: none;
        &:hover,
        &:focus {
            border-color: gray;
            background: whitesmoke;
            color: gray;
        }
    }

    .page_info {
        color: #aaaaaa;
        padding-top: 0.8em;
    }
    .previous_page,
    .next_page {
        border-width: 2px;
    }
    .previous_page {
        margin-right: 1em;
    }
    .next_page {
        margin-left: 1em;
    }
}
.nav-tabs{
    border: none;
    .nav-item{
        .nav-link{
            &:hover,
            &:focus, 
            &.active{
                color: black !important;
                background-color: white;
                border: 1px solid #17a2b8;
            }
        }
    }
}