@import 'bootstrap/dist/css/bootstrap';
.navbar {
  background-color: black !important;
}
.nav-link {
  color: white !important;
}
#logo {
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container {
  margin-top: 25px;
}
.jumbotron {
  background-image: asset-url('wall.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}
#bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
.article {
  max-width: 700px;
  margin: auto;
}

@media (max-width: 900px) {
  .form-group {
    flex-direction: column;
    align-items: center;
  }
  .col-form-label {
    align-self: flex-start;
    margin-left: 2.5rem;
  }  
  #article-title {
    font-size: 1.5rem;
  }
}